body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.stars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 3vh;
  background: #ffffffaa;
  border-radius: 50px;
  box-shadow: 2px 2px 5px gray;
  padding: 3px;
}

.star-gray {
  position: relative;

  display: inline-block;
  width: 0;
  height: 0;
  transition: all 200ms linear;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1em;

  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid rgb(212, 212, 212);
  border-left: 0.3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 24px;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    transition: all 100ms linear;

    position: absolute;
    top: 0.6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-bottom: 0.7em solid rgb(212, 212, 212);
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
  }

  &:after {
    transform: rotate(35deg);
  }
}

.star-yellow {
  position: relative;

  display: inline-block;
  width: 0;
  height: 0;
  transition: all 200ms linear;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1em;

  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid rgb(239, 239, 22);
  border-left: 0.3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 24px;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    transition: all 100ms linear;

    position: absolute;
    top: 0.6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-bottom: 0.7em solid rgb(239, 239, 22);
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
  }

  &:after {
    transform: rotate(35deg);
  }
}

.star-green {
  position: relative;

  display: inline-block;
  width: 0;
  height: 0;

  transition: all 200ms linear;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1em;

  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid rgb(26, 227, 15);
  border-left: 0.3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 24px;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    transition: all 100ms linear;

    position: absolute;
    top: 0.6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-bottom: 0.7em solid rgb(26, 227, 15);
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
  }

  &:after {
    transform: rotate(35deg);
  }
}
